<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5 my-3">
      <div class="col-xs-12 border">
        bbbbbbbbb
      </div>
      <div class="col-xs-6 my-2 border">
        GGGGGGGGG
      </div>
    </div>
    <div class="col-xs-12 col-md-7 my-2">
      <div class="row justify-content-xs-center justify-content-md-end mx-2">
          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">سیاسی</div>
            <div class="section">
              ggggg
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
              vvvvvv
                <div class="section-item">
                  khkhkhkhkhkhkh
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">جهان</div>
            <div class="section">
             hoooooooo
                <div class="section-item">
                  khkhkhkhkhkh
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">دانش</div>
            <div class="section">
            uuuuuuuu
                <div class="section-item">
                 jjjjjjj
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">استان‌ها</div>
            <div class="section">
           rrrrrrrrrr
                <div class="section-item">
                 dddddddddd
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
            tttttttttt
                <div class="section-item">
              jjjjjjjjjj
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
            yyyyyyyyyy
                <div class="section-item">
               wwwwww
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
         qqqqqqq
                <div class="section-item">
           ooooooooo
                </div>
              </div>
          </div>

      </div>
    </div>
  </div>
</div>
